*{
    margin:0px;
    padding:0px;
}
.container{
    display:flex;
}
.nav{
width: 100vw;
background-color: black;
color:white;
height:8vh;
}
.nav h3{
    padding-top: 15px;
    font-size: 24px;
    margin-left: 5%;
}
.up{
    display: flex;
    border: 1px solid green;
}
.upl{
    font-size: 70px;
    margin-left: 20px;
}
.upr{
    margin-top: 30px;
    margin-left: 10px;
    height:15vh;
    justify-content: center;
    align-items: center;
}
.upr .fa-circle{
    margin-left: 20px;
    font-size: 10px;
    color:green;
    margin-top: 15px;
}
.upr h3{
    margin-left: 30px;
    margin-top: -16px;
    font-size: 15px;
    font-weight: lighter;
}
.upr span{
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 30px;
}
.upl .fa-user-circle-o{
    color:royalblue;
    margin-top: 20px;
}
.below{
    border:1px solid black;
    padding:10px;
    list-style: none;
    list-style-type: none;
}
.left{
    border:1px solid blue;
    width:25vw;
    height:90vh;
    position: sticky;
}
.lii{
    padding:7px;
    list-style-type: none;
    height:25px;
}
.lii i{
    color: royalblue;
}
.lii a{
    margin-left: 10px;
    text-decoration: none;
}
.lii:hover{
    background-color: black;
    color:white;
}
.lii:hover a{
    color:white;
}
.lii:hover i{
    color: white;
}
.expenses{
    background-color: black;
}
.expenses i{
    color:white;
}
.expenses a{
    color: white;;
}
/*right*/
.right{
    width:75vw;
}
.right h1{
    margin-top: 20px;
    margin-left: 30px;
}
.expense-form{
    border:3px solid red;
    margin-left:20px;
    margin-top:20px;
    width:50vw;
    padding:10px
}
.expense-form p{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top:20px
}
.expense-form input {
    width:100%;
    border:1px solid red;
    outline:1px solid red;
    height:18px;
}
.btn{
    min-height:30px;
    max-width:120px;
    color:red;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    padding:5px;
}
.btn:hover{
    background-color: red;
    color: white;
}
.expense-feedback{
    margin-top:20px;
    margin-left:30px;
    font-size: 16px;
    color:black;
    background-color: rgba(240, 90, 90, 0.4);
    width:250px;
    height:25px;
    padding:10px;
    display: block;
    visibility: hidden;
}
.expenses{
    color:red;
}
.right h3{
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    color:royalblue;
    font-size: 30px;
    margin-top: 20px;
}
.list{
    color:azure;
}
.list li{
    margin-left:20px;
    /*max-width:500px;*/
    margin-right: 0px;
}
.delete-btn{
    outline:none;
    float:right;
    width:25px;
    height:25px;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-right: 0px;
}
.right ul{
    list-style: none;
    display: inline;
    background-color: royalblue;
}
.right ul li{
    font-weight: bolder;
    font-size: 21px;
    color: red;
    padding-left: 30px;
    padding-right: 30px;
}
#error-msg
{
    color:red;
    font-weight: bolder;
    padding:5px;
    border-radius: 1rem;
    margin-left: 20px;
}


