*{
    margin:0px;
    padding:0px;
}
html{
    height:4060px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0px;
    cursor: pointer;
    height:70px;
    z-index: 998;
    width:100vw;
    background-color: rgb(21, 21, 114);
}
.logo{
    text-align: center;
    letter-spacing: 2px;
    width:22%;
    font-family: sans-serif;
    margin-bottom: 18px;
    font-size: 17px;
    color: white;
}
.navlist{
    width:764px;
    margin:0px auto;
    margin-right: 0px; 
    padding:0px;
    text-align: right;
}
.rightnav{
    width:20%;
    text-align: right;
}
.navlist ul li{
    float:left;
    background:transparent;
    background-color: rgb(21,21,114);
    color:white;
    width:170px;
    height:40px;
    line-height: 50px;
    opacity:1;
}
.navlist ul li a{
    color:white;
    text-decoration: none;
}
.navlist ul{
    padding:0px;
    list-style-type: none;
}
.drop li{
    list-style-type: circle;
    list-style-position: inside;
    color:white;
    padding:10px;
}
.drop{
    height:250px;
    text-align: left;
    width:190px;
    display:none;
    font-size: 14px;
    letter-spacing: 1px;
}
.drop li a{
    margin-left: 0px;
}
.nav{
    padding:10px;
    text-align: center;
    font-family: sans-serif;
    margin:0px;
    margin-bottom:0px;
}
.nav:hover{
    background-color:royalblue;
    opacity:0.9;
    color:white;
}
.nav:hover .drop{
    display:block;
}
.drop1{
    position:absolute;
    left:792px;
}
.drop2{
    position:absolute;
    left:982px;
}
.drop li:hover{
    background-color: royalblue;
    opacity:1;
}
.btn-sm{
    border:1px solid black;
    border-radius: 5px;
    height:19px;
    background-color: yellow;
    padding:2px;
}
.rightnav{
    margin-right:15px;
}
.btn-sm:hover{
    background-color: royalblue;
    color:white;
}
.background{
    background: rgba(0,0,0,0.7) url("../Images/background1.jpg");
    background-size:cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 50%;
    margin:auto;
    height:70%;
    top:100px;
}
.firstsection{
    height:100vh;
    padding:70px;
}
.firsthalf{
    width:80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secondhalf{
    width:20%;
}
.secondhalf img{
    width:100%;
    border:2px solid white;
    border-radius: 35px;
    display:block;
    margin:auto;
    margin-left:10px;
}
.textbig{
    font-size: 40px;;
}
.textsmall{
    font-size: 17px;
}
.btn{
    padding:8px 15px;
    margin:15px 3px;
    border:2px solid white;
    border-radius: 10px;
    font-size:16px;
    background: none;
    color:white;
    cursor:pointer;
    outline:none;
}
.btn:hover{
    background-color: darkblue;
}
.btn a{
    text-decoration: none;
    color:white;
}
/*quote of warren buffet*/
.sec-right{
    height:130px;
    padding:30px;
    font-size: 25px;
    background:linear-gradient(rgba(0,0,50,1),rgba(0,0,255,0.5));
    opacity:0.9;
    color: white;
}
.sectiontag{
    margin:10px;
    margin-top:30px;
    margin-left:150px;
    margin-bottom:5px;
}
.subtag{
    margin:0px;
    margin-left:880px;
    letter-spacing:3px;
}
/*section2*/
.main {
    width:90%;
    margin:50px auto;
    display:grid;
    grid-template-rows:200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:50px;
    grid-column-gap:30px;
}
.div1 .div2 .div3 .div4 .div5 .div6{
    background:transparent;
}
.sec2logo{
    font-size: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    width:20%;
    margin:40px auto;
    margin-bottom:10px;
    padding:8px;
    text-align: center;
    word-spacing: 8px;
}
.sec2 p{
    font-size: 18px;
    font-family: sans-serif;
    opacity: 0.7;
    margin:10px auto;
    text-align:center;
}
i.fa{
    font-size: 50px;
    color:royalblue;
}
.div1 h1{
    margin:10px auto;
    margin-top: 30px;
}
.div1sub{
    font-family: sans-serif;
    padding:10px;
}
.div1sub article{
    opacity: 0.7;
}
.div2 h1{
    margin-top:30px;
}
.div2 article{
    margin-top: 10px;
}
.div3 article{
    margin-top: 10px;;
}
.div3 h1{
    margin-top: 25px;;
}
.div4 h1{
    margin-top: 30px;
}
.div4 article{
    margin-top: 10px;
}
.div5 h1{
    font-size: 22px;
    margin-top: 20px;
}
.div5 article{
    margin-top: 10px;
}
.div6 h1{
    margin-top: 30px;
}
.div6 article{
    margin-top:10px;
}
.last-word{
    color:royalblue;
}
/*section3*/
.main1{
    display:grid;
    grid-template-rows:500px;
    grid-template-columns: 50% 50%;
    padding:50px;
}
.image{
    margin-left: 120px;
}
.sec3{
    margin-bottom: 100px;
}
.para h1{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.para p{
    margin-top:5px;
    opacity:0.7;
    font-family: sans-serif;
    font-size: 16px;
    font-style: oblique;
}
.para{
    padding:10px;
}
.r1 i{
    font-size: 19px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    opacity:0.9;
}
.r1{
    margin-top:50px;
    border:1px solid black;
    height:40px;
    width:90%;
    background-color: rgba(0,0,0,0.1);
}
.r2{
    margin-top:10px;
    border:1px solid black;
    height:40px;
    width:90%;
    background-color: rgba(0,0,0,0.1);
}
.r2 i{
    font-size: 19px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    opacity:0.9;
} 
.r1:hover{
    background-color: white;
    cursor: pointer;
}
/*section4*/
.sec4{
    max-height: 684px;
    background: white;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
}
.main2{
    margin:0px;
    padding:0;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding-top:100px;
    min-height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    grid-column-gap:20px;
    margin-left:20px;
    margin-right: 20px;;
}
.main2 .c1{
    position:relative;
    height:400px;
    background: rgba(0,0,150,1);
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #000;
}
.content{
    position:relative;
    padding:20px;
}
.content h2{
    position: absolute;
    top:-60px;
    right:20px;
    margin:0;
    margin-right:40px;
    padding:0;
    font-size: 10em;
    color:rgba(255,255,255,0.3);
    transition: 0.5s;
}
.c1:hover .content h2{
    top:-140px;
}
.c1 .content h3{
    margin:-100px 0 10px;
    padding:0px;
    font-size:24px;
    font-weight:500;
    color:white;
    border-bottom: 1px solid white;
}
.c1 .content p{
    margin:0px;
    padding:0;
    margin-top: 100px;
    color:white;
    font-size: 16px;
    line-height: 25px;
}
.c1 .content a{
    position: absolute;
    margin:40px 0 0 ;
    padding:10px 20px;
    text-decoration: none;
    border:1px solid white;
    color: white;
    transition:0.5s;
    transform:translateY(-40px);
    opacity:0;
    visibility: hidden;
}
.c1:hover .content a{
    transform:translateY(0px);
    opacity:1;
    visibility: visible;
}
.content a:hover{
    background-color: white;
    color:black
}
.content i{
    font-size: 19px;
    margin-left: 8px;
}
.content a:hover i{
    color:black;
}
.sec4 article{
    font-size: 18px;
    font-family: sans-serif;
    opacity: 0.7;
    margin:10px auto;
    text-align:center;
}
/*Section 5 of the website*/
.sec5 i{
    font-size: 16px;
    color: black;
}
.sec5 p{
    align-items: center;
    margin-top:50px;
    margin-left: 550px;
    font-family: sans-serif;
    font-style: oblique;
}
.sec5logo{
    padding: 8px;
    text-transform: uppercase;
    margin-left:450px;
    width:30%;
    margin-top:12px;
    font-size: 35px;
    border-bottom:1px solid black;
    text-align: center;
}
.sec5 article{
    font-size: 16px;
    font-family: sans-serif;
    opacity: 0.9;
    margin:10px auto;
    text-align:center;
    width:50%;
}
.main3{
    width:90%;
    margin:80px auto;
    display:grid;
    grid-template-rows:200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:50px;
    grid-column-gap:30px;
}
.divison4{
    background: url("../Images/purchasing.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out;
}
.divison4 p a{
    border: 1px solid black;
    text-decoration: none;
    padding:10px;
    margin-top:60px;
    color:white;
    visibility: hidden;
    transition:linear;
}
.divison4 p{
    display: inline-block;
    width:384px;
    padding-top:60.5px;
    margin-left: 0px;
    margin-top: 0px;
    height:79.5px;
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,255,0.5);
    visibility: hidden;
    transition:linear;
}
.divison4:hover p{
    visibility: visible;
}
.divison4:hover p a{
    visibility: visible;
}
.divison4:hover h1{
    visibility: visible;
}
.divison4:hover{
    box-shadow: 12px 12px 12px black;
}
.divison4 h1{
    font-family: sans-serif;
    background: white;
    height:30px;
    padding:10px;
    padding-top:20px;
    visibility: hidden;
    font-family: sans-serif;
}
.divison4 p a:hover{
    background-color: white;
    color:black;
}
.divison1{
    background: url("../Images/Budgetcontrol.jpg");
}
.divison2{
    background: url("../Images/splitexpenses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.divison3{
    background: url("../Images/overspending.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.divison5 h1{
    font-size: 22px;
}
.divison5{
    background: url("../Images/avoidbreak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.divison6{
    background: url("../Images/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Section 6*/
.sec6 .subtag{
    margin-left:750px;
}
/*Section7 or footer of the website*/
.sec7{
    color:white;
    background-color:black;
    padding:20px;
    height:300px;
}
.sec7container{
    display: flex;
}
/*right section of footer*/
.secright{
    margin-left:600px;
}
.secright ul{
    margin-top:70px;
}
.secright h1{
    text-transform: uppercase;
}
.secright ul i{
    font-size: 20px;
    margin-left:2px;
    color: white;
}
.secright ul li h6{
    margin-left: 20px;
    margin-top: -18px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.secright ul li{
    margin-top: 20px;
    opacity: 0.8;
}
/*left section of footer*/
.sec7left{
    margin-left: 80px;
    font-family: sans-serif;
}
.sec7left h1{
    margin-top: 0px;
    font-size: 28px;
}
.sec7left p{
    margin-top: 50px;
    font-size: 14px;
    opacity:0.8;
}
.sec7left article{
    margin-top: 40px;
}
.sec7left article a{
    text-decoration: none;
    color:white;
    font-size: 13px;
}
/*Section 8*/
.sec8{
    margin-bottom: 0px;
    height:82px;
    background: linear-gradient(to right,darkblue,rgba(0,0,255,0.9),white);
}
.sec8container{
    display:flex;
}
.sec8left{
    margin-top: 28px;
    margin-left:80px;
    font-size: 16px;
    color:white;
    opacity:0.8;
}
.sec8right{
    display:flex;
    margin-left:300px;
    margin-top:30px;
    font-size: 15px;
    color:white;  
    opacity:0.9;  
}
.sec8mid{
    margin-left:320px;
}
.sec8mid i{
    font-size:30px;
    color:black;
    margin-top:15px;
}
.face i{
    color:darkblue;
    font-size: 20px;
    margin-left:10px;
}
.twitter i{
    color:royalblue;
    font-size: 30px;
    margin-left:15px;
    margin-top: -5px;
}
.whatsapp i{
    color:rgba(0,200,0,0.8);
    font-size: 30px;
    margin-left: 15px;
    margin-top:-5px;
}
.back a{
    background-color: royalblue;
    color:royalblue;
}