*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom,rgba(0,0,50,1),rgba(0,0,255,0.5));
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:100vh;
}
.container{
    background: white;
    box-shadow: 10px 10px;
    overflow: hidden;
    width:35%;
    border-radius:10px;
}
.header{
    background: linear-gradient(to right,lightblue,blue);
    padding:20px 0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 18px;
}
.btn{
    background: linear-gradient(to left,rgba(0,100,255,1),rgba(0,255,100,1));
    padding:5px;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-family: sans-serif
}
.btn:hover{
    background: linear-gradient(to right,rgba(0,100,255,1),rgba(0,255,100,1));
    cursor: pointer;
}
.form{
    padding:20px;
}
.form-control{
    margin-bottom: 15px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom:5px;
}
.form-control input{
    width:100%;
    border:2px solid #f0f0f0;
    border-radius: 5px;
    font-family: sans-serif;
    padding:7px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: red;
}
.form-control i{
    position:absolute;
    right:3%;
    top:32px;
    visibility: hidden;
}
.form-control small{
    color:red;
    left:0;
    bottom:0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form-control.success i.fa-check-circle{
    color: green;
    visibility:visible;
}
.form-control.error i.fa-exclamation-circle{
    color:red;
    visibility:visible;
}