*{
    margin:0;
    padding:0;
}
.background{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,255,0.8)),url("../Images/Expense\ tracker.png");
    background-size: cover;
    height:400px;
    border:1px solid black;
}
.navbar{
    background-color:darkblue;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0px;
    cursor: pointer;
    height:70px;
    z-index: 998;
    width:100vw;
}
.logo{
    text-align: center;
    letter-spacing: 2px;
    width:22%;
    font-family: sans-serif;
    margin-bottom: 18px;
    font-size: 17px;
    color: royalblue;
}
.navlist{
    width:764px;
    margin:0px auto;
    margin-right: 0px; 
    padding:0px;
    text-align: right;
}
.rightnav{
    width:20%;
    text-align: right;
}
.navlist ul li{
    float:left;
    background-color:darkblue;
    color:white;
    width:170px;
    height:40px;
    line-height: 50px;
    opacity:0.7;
}
.navlist ul li a{
    color:white;
    text-decoration: none;
}
.navlist ul{
    padding:0px;
    list-style-type: none;
}
.drop li{
    list-style-type: circle;
    list-style-position: inside;
    color:white;
    padding:10px;
}
.drop{
    height:250px;
    text-align: left;
    width:190px;
    display:none;
    font-size: 14px;
    letter-spacing: 1px;
}
.drop li a{
    margin-left: 0px;
}
.nav{
    padding:10px;
    text-align: center;
    font-family: sans-serif;
    margin:0px;
    margin-bottom:0px;
}
.nav:hover{
    background-color:royalblue;
    opacity:0.9;
    color:white;
}
.nav:hover .drop{
    display:block;
}
.drop1{
    position:absolute;
    left:792px;
}
.drop2{
    position:absolute;
    left:982px;
}
.drop li:hover{
    background-color: royalblue;
    opacity:1;
}
.sec1 h1{
    margin-top:200px;
    margin-left:150px;
    font-size:40px;
    color:white;
    opacity:0.9;
    border-bottom:1px solid white;
    text-align:center;
    width:20%;
}
.sec1 article{
    margin-top:50px;
    margin-left: 150px;
    border-bottom:1px solid white;
    width:8%;
    text-align: center;
}
.sec1 article a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    margin-left: 10px;
    font-size: 15px;
}
.sec1 article i{
    color:white;
}
/*section2*/
.sec2container{
    display:flex;
    margin-top:50px;
}
.sec2left img{
    margin-left:90px;
    width:500px;
    height:400px;
}
.sec2right{
    margin-left: 90px;
}
.sec2right h1{
    margin-left:250px;
    font-size:25px;
}
.heading{
    margin-top:50px;
    border:1px solid black;
    width:600px;
    height:120px;
    background-color: lightgray
}
.heading h2{
    margin-top:40px;
    margin-left:30px;
    font-weight: bolder;
    font-family: sans-serif;
}
.sec2right p{
    margin-top:20px;
    line-height: 30px;
}
.below h1{
    margin-top:50px;
    margin-left:80px;
    border-bottom: 1px solid black;
    width:10%;
    text-align: center;
}
.content1{
    margin-top:20px;
    width:85%;
    margin-left:80px;
    border:1px solid black;
    padding:10px;
    font-family: sans-serif;
    background-color: lightblue;
}
.content1 p{
    margin-top: 20px;
    line-height: 30px;
}
/*Quote*/
.sec-right{
    height:130px;
    padding:30px;
    font-size: 20px;
    background:linear-gradient(rgba(0,0,50,1),rgba(0,0,255,0.5));
    opacity:0.9;
    color: white;
    margin-top:20px;
}
.sectiontag{
    margin:10px;
    margin-top:30px;
    margin-left:200px;
    margin-bottom:5px;
}
.subtag{
    margin:0px;
    margin-left:700px;
    letter-spacing:3px;
    font-size: 25px;
}
/*Section7 or footer of the website*/
.sec7{
    color:white;
    background-color:black;
    padding:20px;
    height:300px;
    margin-top:20px;
}
.sec7container{
    display: flex;
}
/*right section of footer*/
.secright{
    margin-left:600px;
}
.secright ul{
    margin-top:70px;
}
.secright h1{
    text-transform: uppercase;
}
.secright ul i{
    font-size: 20px;
    margin-left:2px;
    color: white;
}
.secright ul li h6{
    margin-left: 20px;
    margin-top: -18px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.secright ul li{
    margin-top: 20px;
    opacity: 0.8;
}
/*left section of footer*/
.sec7left{
    margin-left: 80px;
    font-family: sans-serif;
}
.sec7left h1{
    margin-top: 0px;
    font-size: 28px;
}
.sec7left p{
    margin-top: 50px;
    font-size: 14px;
    opacity:0.8;
}
.sec7left article{
    margin-top: 40px;
}
.sec7left article a{
    text-decoration: none;
    color:white;
    font-size: 13px;
}
/*Section 8*/
.sec8{
    margin-bottom: 0px;
    height:82px;
    background: linear-gradient(to right,darkblue,rgba(0,0,255,0.9),white);
}
.sec8container{
    display:flex;
}
.sec8left{
    margin-top: 28px;
    margin-left:80px;
    font-size: 16px;
    color:white;
    opacity:0.8;
}
.sec8right{
    display:flex;
    margin-left:300px;
    margin-top:30px;
    font-size: 15px;
    color:white;  
    opacity:0.9;  
}
.sec8mid{
    margin-left:320px;
}
.sec8mid i{
    font-size:30px;
    color:black;
    margin-top:15px;
}
.face i{
    color:darkblue;
    font-size: 20px;
    margin-left:10px;
}
.twitter i{
    color:royalblue;
    font-size: 30px;
    margin-left:15px;
    margin-top: -5px;
}
.whatsapp i{
    color:rgba(0,200,0,0.8);
    font-size: 30px;
    margin-left: 15px;
    margin-top:-5px;
}
.back {
    background-color: royalblue;
}